In [1]:
import pandas as pd
#import numpy as np
import requests #api
import json #json file
#from datetime import datetime

#import matplotlib.pyplot as plt
#from scipy.stats import linregress #stastistical analysis

from pathlib import Path #reading csv - connecting to the csv merges mac and windows

from sodapy import Socrata #used for cdc API fetch

## COVID-19 Case Surveillance Public Use Data with Geography

In [2]:
#https://data.cdc.gov/Case-Surveillance/COVID-19-Case-Surveillance-Public-Use-Data-with-Ge/n8mc-b4w4
case_surv_url = "https://data.cdc.gov/resource/n8mc-b4w4.json?"
case_surv_data = requests.get(case_surv_url).json()

case_surv_df = pd.DataFrame(case_surv_data)
#case_surv_df

In [3]:
CA_case_surv_url = "https://data.cdc.gov/resource/n8mc-b4w4.json?res_state=CA"
CA_case_surv_data = requests.get(case_surv_url).json()

CA_case_surv_df = pd.DataFrame(CA_case_surv_data)
#CA_case_surv_df

In [4]:
#CA_case_surv_df["death_yn"].unique()

In [5]:
#CA_case_surv_df["hosp_yn"].unique()

In [6]:
#CA_case_surv_df["hosp_yn"].value_counts()

In [7]:
client = Socrata("data.cdc.gov",
                  "iwYpUxUglJyjEqOoTODioBzcV",
                  username="isabelmwork@gmail.com",
                  password="APIkey2023")
CA_case_surv_query = client.get("n8mc-b4w4", res_state="CA", limit=100000)
CA_case_surv_df = pd.DataFrame.from_records(CA_case_surv_query)

In [8]:
CA_case_surv_df.head()

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn,case_positive_specimen
0,2020-10,CA,06,SANTA CRUZ,06087,18 to 49 years,Male,Unknown,Hispanic/Latino,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN,NaN
1,2022-02,CA,06,FRESNO,06019,0 - 17 years,Female,American Indian/Alaska Native,Hispanic/Latino,NaN,Missing,Missing,Laboratory-confirmed case,Unknown,Missing,Missing,Missing,NaN,NaN
2,2020-12,CA,06,ALAMEDA,06001,18 to 49 years,Female,American Indian/Alaska Native,Hispanic/Latino,0.0,Missing,Missing,Probable Case,Symptomatic,No,Missing,Missing,NaN,NaN
3,2022-12,CA,06,ORANGE,06059,18 to 49 years,Female,American Indian/Alaska Native,Hispanic/Latino,NaN,Missing,Missing,Laboratory-confirmed case,Unknown,Missing,Missing,Missing,NaN,NaN
4,2022-02,CA,06,STANISLAUS,06099,18 to 49 years,Female,American Indian/Alaska Native,Hispanic/Latino,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN,NaN

In [9]:
CA_case_surv_df = CA_case_surv_df.sort_values(by=["res_county"])
CA_case_surv_df.head()

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn,case_positive_specimen
33903,2022-08,CA,06,ALAMEDA,06001,0 - 17 years,Male,White,Hispanic/Latino,NaN,Missing,Missing,Laboratory-confirmed case,Unknown,Missing,Missing,Missing,NaN,NaN
37403,2022-02,CA,06,ALAMEDA,06001,50 to 64 years,Male,White,Hispanic/Latino,NaN,Missing,Missing,Laboratory-confirmed case,Unknown,Missing,Missing,Missing,NaN,NaN
78143,2020-06,CA,06,ALAMEDA,06001,18 to 49 years,Female,NA,NA,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN,NaN
87196,2020-06,CA,06,ALAMEDA,06001,18 to 49 years,Female,NA,NA,NaN,Missing,Missing,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN,NaN
6895,2020-11,CA,06,ALAMEDA,06001,50 to 64 years,Female,Unknown,Hispanic/Latino,NaN,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN,NaN

In [10]:
CA_case_surv_df["res_county"] = CA_case_surv_df["res_county"].str.lower().str.capitalize()

In [11]:
CA_case_surv_df.head()

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn,case_positive_specimen
33903,2022-08,CA,06,Alameda,06001,0 - 17 years,Male,White,Hispanic/Latino,NaN,Missing,Missing,Laboratory-confirmed case,Unknown,Missing,Missing,Missing,NaN,NaN
37403,2022-02,CA,06,Alameda,06001,50 to 64 years,Male,White,Hispanic/Latino,NaN,Missing,Missing,Laboratory-confirmed case,Unknown,Missing,Missing,Missing,NaN,NaN
78143,2020-06,CA,06,Alameda,06001,18 to 49 years,Female,NA,NA,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN,NaN
87196,2020-06,CA,06,Alameda,06001,18 to 49 years,Female,NA,NA,NaN,Missing,Missing,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN,NaN
6895,2020-11,CA,06,Alameda,06001,50 to 64 years,Female,Unknown,Hispanic/Latino,NaN,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN,NaN

In [12]:
CA_case_surv_df[["year", "month"]] = CA_case_surv_df["case_month"].str.split("-", expand = True)

In [13]:
CA_case_surv_df.head()

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_onset_interval,...,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn,case_positive_specimen,year,month
33903,2022-08,CA,06,Alameda,06001,0 - 17 years,Male,White,Hispanic/Latino,NaN,...,Missing,Laboratory-confirmed case,Unknown,Missing,Missing,Missing,NaN,NaN,2022,08
37403,2022-02,CA,06,Alameda,06001,50 to 64 years,Male,White,Hispanic/Latino,NaN,...,Missing,Laboratory-confirmed case,Unknown,Missing,Missing,Missing,NaN,NaN,2022,02
78143,2020-06,CA,06,Alameda,06001,18 to 49 years,Female,NA,NA,0.0,...,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN,NaN,2020,06
87196,2020-06,CA,06,Alameda,06001,18 to 49 years,Female,NA,NA,NaN,...,Missing,Laboratory-confirmed case,Unknown,No,Missing,Missing,NaN,NaN,2020,06
6895,2020-11,CA,06,Alameda,06001,50 to 64 years,Female,Unknown,Hispanic/Latino,NaN,...,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,Missing,NaN,NaN,2020,11

In [14]:
#CA_case_surv_df.info()

In [15]:
CA_case_sel_df = CA_case_surv_df[["res_county", "year", "month", "age_group", \
                                  "sex", "race", "ethnicity", "hosp_yn", "icu_yn", "death_yn", \
                                  "underlying_conditions_yn"]]

In [16]:
CA_case_sel_df.head()

,res_county,year,month,age_group,sex,race,ethnicity,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
33903,Alameda,2022,08,0 - 17 years,Male,White,Hispanic/Latino,Missing,Missing,Missing,NaN
37403,Alameda,2022,02,50 to 64 years,Male,White,Hispanic/Latino,Missing,Missing,Missing,NaN
78143,Alameda,2020,06,18 to 49 years,Female,NA,NA,No,Missing,Missing,NaN
87196,Alameda,2020,06,18 to 49 years,Female,NA,NA,No,Missing,Missing,NaN
6895,Alameda,2020,11,50 to 64 years,Female,Unknown,Hispanic/Latino,No,Missing,Missing,NaN

In [17]:
#CA_case_sel_df.info()

In [18]:
CA_case_sel_df = CA_case_sel_df.rename(columns = {"res_county": "county", "case_month": "date"})

In [19]:
CA_case_sel_df.head()

,county,year,month,age_group,sex,race,ethnicity,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
33903,Alameda,2022,08,0 - 17 years,Male,White,Hispanic/Latino,Missing,Missing,Missing,NaN
37403,Alameda,2022,02,50 to 64 years,Male,White,Hispanic/Latino,Missing,Missing,Missing,NaN
78143,Alameda,2020,06,18 to 49 years,Female,NA,NA,No,Missing,Missing,NaN
87196,Alameda,2020,06,18 to 49 years,Female,NA,NA,No,Missing,Missing,NaN
6895,Alameda,2020,11,50 to 64 years,Female,Unknown,Hispanic/Latino,No,Missing,Missing,NaN

In [40]:
CA_case_sel_df = CA_case_sel_df.sort_values(by= \
                                            ["county", "year", "month"], \
                                            ascending= \
                                            [True, True, True])

In [48]:
CA_case_sel_df.head()

,county,year,month,age_group,sex,race,ethnicity,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
34888,Alameda,2020,05,65+ years,Female,NA,NA,Yes,No,Missing,NaN
35134,Alameda,2020,05,65+ years,Female,NA,NA,No,Missing,Missing,NaN
34736,Alameda,2020,05,65+ years,Female,NA,NA,No,Missing,Missing,NaN
34759,Alameda,2020,05,65+ years,Female,NA,NA,Yes,Yes,NA,NaN
34836,Alameda,2020,05,65+ years,Female,NA,NA,No,Missing,Missing,NaN

In [49]:
CA_case_sel_df.tail()

,county,year,month,age_group,sex,race,ethnicity,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
96525,Yuba,2023,08,65+ years,NA,NA,NA,Missing,Missing,Missing,NaN
95975,Yuba,2023,08,65+ years,NA,NA,NA,Yes,No,Missing,NaN
95924,Yuba,2023,08,65+ years,NA,NA,NA,Missing,Missing,Missing,NaN
96124,Yuba,2023,08,65+ years,NA,NA,NA,Missing,Missing,Missing,NaN
96772,Yuba,2023,08,65+ years,NA,NA,NA,Missing,Missing,Missing,NaN

## Statewide COVID-19 Vaccines Administered By County

In [22]:
#https://data.chhs.ca.gov/dataset/vaccine-progress-dashboard
CA_vax_path = Path("Data/covid19vaccinesbycounty.csv")
CA_vax_df = pd.read_csv(CA_vax_path)
CA_vax_df.head()

,county,administered_date,total_doses,cumulative_total_doses,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,california_flag,up_to_date_count,cumulative_up_to_date_count
0,Alameda,2020-01-05,0,0,0,0,0,0,0,0,NaN,0,0
1,Alameda,2020-07-27,0,0,0,0,0,0,0,0,NaN,0,0
2,Alameda,2020-07-29,0,1,0,1,0,0,0,1,NaN,0,0
3,Alameda,2020-07-30,0,1,0,1,0,0,0,1,NaN,0,0
4,Alameda,2020-07-31,0,1,0,1,0,0,0,1,NaN,0,0

In [23]:
#county, admin date - month and year - group by, find max cumulative of take all of cumulative columns
cleaned_vaccine = CA_vax_df[['county','administered_date','cumulative_total_doses','cumulative_fully_vaccinated',\
                             'cumulative_at_least_one_dose','cumulative_up_to_date_count']]
cleaned_vaccine.head()

,county,administered_date,cumulative_total_doses,cumulative_fully_vaccinated,cumulative_at_least_one_dose,cumulative_up_to_date_count
0,Alameda,2020-01-05,0,0,0,0
1,Alameda,2020-07-27,0,0,0,0
2,Alameda,2020-07-29,1,0,1,0
3,Alameda,2020-07-30,1,0,1,0
4,Alameda,2020-07-31,1,0,1,0

In [24]:
# cleaned_vaccine['year'] = cleaned_vaccine['administered_date'].dt.year
# cleaned_vaccine['month'] = cleaned_vaccine['administered_date'].dt.month
# cleaned_vaccine.head()
#defaults turning datetme to timestamp because more secure

In [25]:
cleaned_vaccine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71796 entries, 0 to 71795
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   county                        71796 non-null  object
 1   administered_date             71796 non-null  object
 2   cumulative_total_doses        71796 non-null  int64
 3   cumulative_fully_vaccinated   71796 non-null  int64
 4   cumulative_at_least_one_dose  71796 non-null  int64
 5   cumulative_up_to_date_count   71796 non-null  int64
dtypes: int64(4), object(2)
memory usage: 3.3+ MB

In [26]:
# cleaned_vaccine['administered_date'] = pd.to_datetime(cleaned_vaccine['administered_date'])
# cleaned_vaccine.info()
#not going to change into date time because i will  be using the breaking a string as their own with '-'

In [27]:
#line 14 and 15 CA case urv to break up the string so dates are 01-05-2020 to year and month as 2020 and 07
# Get rid of changing into datetime
cleaned_vaccine[['year', 'month', 'day']] = \
    cleaned_vaccine['administered_date'].str.split('-', n=2, expand = True)
#delimiter is for column info not title
#n: (int type_ number of splits, default is -1)
cleaned_vaccine.head()

/var/folders/sb/9p37yr6j5fv_p4p8r67x7jlw0000gn/T/ipykernel_40427/3244646067.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_vaccine[['year', 'month', 'day']] = \
/var/folders/sb/9p37yr6j5fv_p4p8r67x7jlw0000gn/T/ipykernel_40427/3244646067.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_vaccine[['year', 'month', 'day']] = \
/var/folders/sb/9p37yr6j5fv_p4p8r67x7jlw0000gn/T/ipykernel_40427/3244646067.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_vaccine[['year', 'month', 'day']] = \

,county,administered_date,cumulative_total_doses,cumulative_fully_vaccinated,cumulative_at_least_one_dose,cumulative_up_to_date_count,year,month,day
0,Alameda,2020-01-05,0,0,0,0,2020,01,05
1,Alameda,2020-07-27,0,0,0,0,2020,07,27
2,Alameda,2020-07-29,1,0,1,0,2020,07,29
3,Alameda,2020-07-30,1,0,1,0,2020,07,30
4,Alameda,2020-07-31,1,0,1,0,2020,07,31

In [28]:
#deleting extraneous columns
del cleaned_vaccine['administered_date']
cleaned_vaccine.head()

,county,cumulative_total_doses,cumulative_fully_vaccinated,cumulative_at_least_one_dose,cumulative_up_to_date_count,year,month,day
0,Alameda,0,0,0,0,2020,01,05
1,Alameda,0,0,0,0,2020,07,27
2,Alameda,1,0,1,0,2020,07,29
3,Alameda,1,0,1,0,2020,07,30
4,Alameda,1,0,1,0,2020,07,31

In [29]:
#deleting extraneous columns
del cleaned_vaccine['day']
cleaned_vaccine.head()

,county,cumulative_total_doses,cumulative_fully_vaccinated,cumulative_at_least_one_dose,cumulative_up_to_date_count,year,month
0,Alameda,0,0,0,0,2020,01
1,Alameda,0,0,0,0,2020,07
2,Alameda,1,0,1,0,2020,07
3,Alameda,1,0,1,0,2020,07
4,Alameda,1,0,1,0,2020,07

In [30]:
#we want to look at data for each month in each county
cleaned_vaccine.groupby(['month','year'])
cleaned_vaccine.head()

,county,cumulative_total_doses,cumulative_fully_vaccinated,cumulative_at_least_one_dose,cumulative_up_to_date_count,year,month
0,Alameda,0,0,0,0,2020,01
1,Alameda,0,0,0,0,2020,07
2,Alameda,1,0,1,0,2020,07
3,Alameda,1,0,1,0,2020,07
4,Alameda,1,0,1,0,2020,07

In [31]:
#finding the max in each county per month
max_month = cleaned_vaccine.groupby(['county','year','month']).max()
max_month.head()

                    cumulative_total_doses  cumulative_fully_vaccinated  \
county  year month
Alameda 2020 01                          0                            0
             07                          1                            0
             08                         43                            3
             09                        104                           45
             10                        121                           51

                    cumulative_at_least_one_dose  cumulative_up_to_date_count
county  year month
Alameda 2020 01                                0                            0
             07                                1                            0
             08                               40                            0
             09                               59                            0
             10                               72                            0

In [32]:
#troubleshooting why I am unable to search for just alameda county
print(max_month.columns)

Index(['cumulative_total_doses', 'cumulative_fully_vaccinated',
       'cumulative_at_least_one_dose', 'cumulative_up_to_date_count'],
      dtype='object')

In [33]:
#because county column is not here, after doing the groupby used the county column as the grouping keys so I cannot treat it
# as a regular column, so in the next column i reset the index

In [34]:
#just looking at alameda data to make sure cleaned correctly
max_month_reset = max_month.reset_index()
alameda_county = max_month_reset[max_month_reset['county']=='Alameda']
alameda_county.head()
#now we can see there is from Jan 2020 to Sept 2023

,county,year,month,cumulative_total_doses,cumulative_fully_vaccinated,cumulative_at_least_one_dose,cumulative_up_to_date_count
0,Alameda,2020,01,0,0,0,0
1,Alameda,2020,07,1,0,1,0
2,Alameda,2020,08,43,3,40,0
3,Alameda,2020,09,104,45,59,0
4,Alameda,2020,10,121,51,72,0

In [35]:
#renaming df
clean_complete_vaccine = max_month_reset
clean_complete_vaccine.head()

,county,year,month,cumulative_total_doses,cumulative_fully_vaccinated,cumulative_at_least_one_dose,cumulative_up_to_date_count
0,Alameda,2020,01,0,0,0,0
1,Alameda,2020,07,1,0,1,0
2,Alameda,2020,08,43,3,40,0
3,Alameda,2020,09,104,45,59,0
4,Alameda,2020,10,121,51,72,0

In [36]:
clean_complete_vaccine.to_csv('Data/VaccineComplete.csv', index = False)
#index = False to exclude row number in output